.contato__titulo, .contato__texto, .contato__email-input {
    font-family: Poppins, sans-serif;
}

.contato {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.contato__titulo {
    color: var(--azul-degrade);
    font-weight: 700;
    font-size: 18px;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0 2em 0;
    color: var(--azul-degrade);
    font-size: 16px;
}

.contato__email-input {
    display: block;
    background-color: var(--branco);
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    border: 1px solid var(--azul-degrade);
    border-radius: 24px;
    width: 90%;
    color: var(--azul-degrade);
}

.contato__email-imagem {
    position: absolute;
    top: 1.5em;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: start;
        max-height: 13.1875em;
    }

    .contato__titulo {
        font-size: 1.5rem;
    }

    .contato__texto {
        font-size: 1.125rem;
    }

    .contato__descricao {
        margin: 1.875em 0.0625em 0 9.3125em;
    }

    .contato__email-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 20.431875em;
        height: 2.75em;
        border-radius: 1.5em;
        margin: 4.625em auto;
    }

    .contato__email-input {
        width: 20.431875em;
        height: 2.75em;
        border-radius: 1.5em;
        margin: 4.625em auto;
    }

    .contato__email-imagem {
        display: none;
    }
}
