.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1.5em 1.5em;
    align-items: center;
    background-color: var(--branco);
}

.container_imagem_menu_hamburguer {
    width: 1.5em;
    height: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/Menu.svg");  /* dois pontos para concatenar o caminho da imagem */
    display: inline-block;  /* para que a imagem seja exibida como um elemento inline, assim sendo possível 
                             manipular a largura e altura */
}

.container_botao {
    display: none;
}

.container_opcoes {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-left: 25%;
}

.container_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--branco-estranho);
    width: 60vw;
    height: 17.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--branco);
    font-family: 'Poppins', sans-serif;
}

.lista_menu_titulo {
    padding: 0.75em;
    text-align: justify;
    font-weight: bold;
    color: #E39E1D;
    font-size: 1.2em;
}

.lista_menu_item {
    text-align: justify;
    font-size: 1.1em;
    color: #0D3B66;
    margin: 1.6em 0;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 0.75em;
}

.lista_menu_item a {
    text-decoration: none;
    color: inherit;
}

.container_botao:checked ~ .lista_menu {
    display: block;
}